n8n/workflows/badgr_scheduled_intel.json
{
  "name": "BADGR — Scheduled Market Intel",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [160, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "intel-tasks",
      "name": "Build Intel Goals",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [380, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": true,
        "fields": {
          "values": [
            {
              "name": "goal",
              "type": "stringValue",
              "string": "Summarize the current competitive landscape for web development agencies in the Houston area and identify top 3 opportunities for BADGR LLC"
            },
            {
              "name": "task_type",
              "type": "stringValue",
              "string": "extraction"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "run-intel",
      "name": "BADGR Harness — Intel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [620, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8765/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ goal: $json.goal, task_type: $json.task_type, source: 'n8n:scheduled_intel' }) }}",
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "format-telegram",
      "name": "Format for Telegram",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [860, 300],
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "message",
              "type": "stringValue",
              "string": "=📊 *BADGR Daily Intel*\n\n{{ $json.summary }}\n\n*Recommended Action:* {{ $json.recommended_action }}\n\n_Confidence: {{ ($json.confidence * 100).toFixed(0) }}%_"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-telegram",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 300],
      "parameters": {
        "chatId": "={{ $vars.BADGR_TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-badgr",
          "name": "BADGR Telegram Bot"
        }
      }
    },
    {
      "id": "save-report",
      "name": "Save to File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1100, 460],
      "parameters": {
        "fileName": "=/home/t0n34781/projects/badgr_harness/reports/intel_{{ $now.format('yyyy-MM-dd') }}.json",
        "fileContent": "={{ JSON.stringify($('BADGR Harness — Intel').item.json, null, 2) }}"
      }
    }
  ],
  "connections": {
    "Daily 8AM Trigger": {
      "main": [
        [{ "node": "Build Intel Goals", "type": "main", "index": 0 }]
      ]
    },
    "Build Intel Goals": {
      "main": [
        [{ "node": "BADGR Harness — Intel", "type": "main", "index": 0 }]
      ]
    },
    "BADGR Harness — Intel": {
      "main": [
        [
          { "node": "Format for Telegram", "type": "main", "index": 0 },
          { "node": "Save to File", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format for Telegram": {
      "main": [
        [{ "node": "Telegram Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Runs a market intel extraction task every weekday at 8AM, sends summary to Telegram, saves full JSON to reports/. Requires: BADGR_TELEGRAM_CHAT_ID variable and Telegram Bot credential configured in n8n."
  }
}
