n8n/workflows/badgr_task_runner.json
{
  "name": "BADGR — Task Runner",
  "nodes": [
    {
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [160, 300],
      "parameters": {
        "path": "badgr-task",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Goal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-goal",
              "leftValue": "={{ $json.body.goal }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "run-harness-task",
      "name": "BADGR Harness — Run Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [660, 220],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8765/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ goal: $('Webhook Trigger').item.json.body.goal, task_type: $('Webhook Trigger').item.json.body.task_type ?? null, source: 'n8n:task_runner' }) }}",
        "options": {
          "timeout": 300000
        }
      }
    },
    {
      "id": "return-error",
      "name": "Return Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [660, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'goal is required' }) }}",
        "options": {
          "responseCode": 422
        }
      }
    },
    {
      "id": "return-result",
      "name": "Return Harness Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [920, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validate Goal", "type": "main", "index": 0 }]
      ]
    },
    "Validate Goal": {
      "main": [
        [{ "node": "BADGR Harness — Run Task", "type": "main", "index": 0 }],
        [{ "node": "Return Error", "type": "main", "index": 0 }]
      ]
    },
    "BADGR Harness — Run Task": {
      "main": [
        [{ "node": "Return Harness Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Accept a POST /badgr-task webhook, forward goal to BADGR Harness API, return structured result. Set api:app running on localhost:8765 before activating."
  }
}
